
.game--inactive-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  width: 80vw;
  max-width: 1000px;
  padding: 25px;
  border-radius: 10px;
  margin: 25px auto;
  cursor: pointer;
}

.game--inactive-wrapper img {
  width: 200px;
  height: 200px;
  margin-right: 25px;
}

.game--inactive-wrapper h3 {
  font-size: 1rem;
}


.game--active-wrapper {
  display: block;
  margin: auto;
  width: 80vw;
  height: 80vw;

  max-width: 1000px;
  max-height: 1000px;
}

.game--active-name {
  color: white;
  text-align: center;
}

.game--soon {
  text-align: center;
}

.game--active-wrapper iframe{ 
  width: inherit;
  height: inherit;
}

