#minesweeper-canvas {
  cursor: pointer;
}

.minesweeper--select-wrapper {
  display: block;
  margin: auto;
  width: fit-content;
}

.minesweeper--select {
  font-size: 2rem;
}

.minesweeper--highscore {
  color: white;
  margin-left: 25px;
}