#minesweeper-canvas {
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.minesweeper--select-wrapper {
  display: block;
  margin: auto;
  width: fit-content;
}

.minesweeper--select {
  font-size: 2rem;
}
