:root {
  --game-bg: rgb(13, 13, 34);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--game-bg);
  margin: 0;
}

canvas {
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.soon {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}
